<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="./assets/js/highlight.pack.js"></script>
</head>

<body class="article-view" data-category="{{htmlWebpackPlugin.options.post.category}}" data-category-color="{{htmlWebpackPlugin.options.post.categoryColor}}">
    <header>

    </header>

    <nav class="tags-wrapper tags-wrapper--top">

    </nav>

    <div class="wrapper">
        <div class="container">
            <section class="article">

                <header class="article__header">
                    <h1>{{htmlWebpackPlugin.options.title}}</h1>
                </header>

                <article class="article__content">
                    {{{htmlWebpackPlugin.options.bodyHTML}}}
                </article>

                <footer class="article__footer">

                </footer>

            </section>

        </div>
    </div>

    {{{htmlWebpackPlugin.options.footer}}}

    <!--  Scroll to top -->
    <a href="javascript:void(0);" id="scrollToTop" class="scroll-top">
        <i class="icon-arrow-up">&#8593;</i>
        <span class="sr-only">Scroll To Top</span>
    </a>

</body>

</html>
